:root,
html[data-theme='light'] {
	--primary-color: #f2cdcd;
	--secondary-color: #bac2de;
	--border-color: #eba0ac;
	--color: black;
	--theme-background: url('images/backgroundLight.jpg');
	--border-image: url('images/borderLight.png');

}

html[data-theme='dark'] {
	--primary-color: #1e1e2e;
	--secondary-color: #11111b;
	--border-color: #6c7086;
	--text-color: white;
	--theme-background: url('images/backgroundDark.jpg');
	--border-image: url('images/borderDark.png');
}

body {
	background-color: var(--primary-color);
	color: var(--text-color);
	background-image: var(--theme-background);
}

h1 {
	color: var(--secondary-color);
	margin: 0;
}

.pageContainer {
	position: relative;
	width: 98vw;
	height: 95vh;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	align-self: center;
}

.headerBox {
	width: 50%;
	background-color: var(--border-color);
	border-radius: 10px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentBox {
	display: flex;
	gap: 2%;
	width: 80%;
	height: 90%;
}

/*placeholders*/
.content-placeholder {
	display: flex;
	height: 100%;
	width: 70%;
}

.sideContentPlaceholder {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.mainContentBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;

	border: 10px solid transparent;
	border-image: var(--border-image);
	border-image-slice: 20 20;
	border-width: 15px;
	border-image-repeat: stretch;
	border-radius: 5px;

	padding: 5px;
	background-color: var(--secondary-color);
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.mainContentBox::-webkit-scrollbar {
	display: none;
}

.themeButtonBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sideContentBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;

	border-radius: 5px;
	border: 10px solid transparent;
	border-image: var(--border-image);
	border-image-slice: 20 20;
	border-width: 10px;
	border-image-repeat: stretch;

	/* border-radius: 10px; */
	/* border: 3px solid var(--border-color); */
	background-color: var(--secondary-color);
	padding: 5px;
}

.genericContent {
	width: 95%;
	border: 1px solid white;
	padding: 2%;
	border-radius: 10px;
	font-size: 18px;
}

.sideContent {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	background-color: var(--border-color);
	/* height: 40%; */
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.sideContent::-webkit-scrollbar {
	display: none;
}

.centeredBox {
	display: flex;
	justify-content: center;
	align-items: center;
}



/*Site link box*/
.linkList {
	display: flex;
	align-self: center;
	justify-self: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 5px;
	/* border: 1px solid black; */
	border-radius: 10px;
	padding: 8px;
	font-size: 20px;
	list-style-type: none;
}

.linkButton {
	width: 100%;
	cursor: pointer;
	display: flex;
	gap: 2px;
}

.linkLabel:hover+.linkIcon {
	opacity: 1;
}

.linkIcon {
	width: 10%;
	opacity: 0;
}

.linkIcon:hover {
	opacity: 1;
}



/*external link buttons*/
.linkButtonBox {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px;
}

.linkBox {
	padding: 5px;
}

.link-button img {
	height: 80%;
}

/* todo list styles*/
.todoList {
	font-size: 14px;
	width: 90%;
}
.todoList ul{
	padding-inline-start: 20px;
}

.todoListLabel {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*blog post styles*/
.blogPostContainer{
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 95%;
	height: 25%;
	border: 1px solid white;
	padding: 2%;
	border-radius: 10px;
	font-size: 16px;
}

#blogBox{
	overflow: auto;
}

.blogPostTitleBox{
	display: flex;
	width: 100%;
	justify-content: space-between;
	cursor: pointer;
	padding: 2px;
	border-radius: 5px;
}

.blogPostTitleBox:hover{
	background-color: var(--primary-color);
}

.postTitle{
	font-weight: bold;
}
.postCategory{
	display: flex;
	align-self: flex-start;
}

/* blog modal styles */
.blogModal{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
}

.blogModalContainer{
	height: 50%;
	width: 50%;
	border-radius: 10px;
	background-color: var(--secondary-color);
	padding: 5px;

	border: 10px solid transparent;
	border-image: var(--border-image);
	border-image-slice: 20 20;
	border-width: 15px;
	border-image-repeat: stretch;
	border-radius: 5px;
}
