:root,
html[data-theme='light'] {
	--primary-color: #f2cdcd;
	--secondary-color: #bac2de;
	--border-color: #eba0ac;
	--color: black;
}

html[data-theme='dark'] {
	--primary-color: #1e1e2e;
	--secondary-color: #11111b;
	--border-color: #6c7086;
	--text-color: white;
}

body {
	background-color: var(--primary-color);
	color: var(--text-color);
}

h1 {
	color: #59c5d4;
	margin: 0;
}

.pageContainer {
	width: 98vw;
	height: 95vh;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	align-self: center;
}

.headerBox {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentBox {
	display: flex;
	gap: 2%;
	width: 80%;
	height: 90%;
}

.content-placeholder {
	display: flex;
	height: 100%;
	width: 70%;
}

.mainContentBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	border: 3px solid var(--border-color);
	border-radius: 10px;
	padding: 5px;
	background-color: var(--secondary-color);
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.mainContentBox::-webkit-scrollbar {
	display: none;
}

.themeButtonBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sideContentBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
	border-radius: 10px;
	border: 3px solid var(--border-color);
	background-color: var(--secondary-color);
	padding: 5px;
}

.genericContent {
	width: 95%;
	border: 1px solid white;
	padding: 2%;
	border-radius: 10px;
}

.sideContent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: var(--border-color);
	height: 40%;
	margin: 5px;
	padding: 5px;
	aspect-ratio: 1/1;
	border-radius: 10px;
}

.centeredBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.linkBox {
	padding: 4px;
}
.linkButton{
cursor: pointer;
}

.link-button img{
	height: 80%;
}
